<!DOCTYPE html>

<html>
    <head lang="ko">
        <meta charset="UTF-8">
        <title>My Site0</title>   
        
        <link rel="stylesheet" href="../../assets/css/main_pratice.css">
    </head>

    <body>
        <!-- 헤더 -->
        <div id="wrap" >
            <div id="header" class="clearfix">
                <h1><a href="">my site</a></h1>
                       
                <ul class="clearfix">
                    <li><a href="">로그인</a></li>
                    <li><a href="">회원가입</a></li>
                    <li><a href="">아이디 찾기</a></li>
                    <li><a href="">비밀번호 찾기</a></li>
                </ul>
            </div>
        <!-- //헤더 -->    

        <!-- 네비 -->
        <div id="wrap2">
            <div id="navi" class="clearfix">
                <ul>
                    <li><a href="">홈</a></li>
                    <li><a href="">공지사항</a></li>
                    <li><a href="">유머게시판</a></li>
                    <li><a href="">정보게시판</a></li>
                    <li><a href="">갤러리</a></li>
                    <li><a href="">방명록</a></li>
                </ul>
            </div>

            <!-- 컨텐츠1 -->
            <div id="content1" class="clearfix">
                <img id="screenshot" src="../../../../../Users/pc/Desktop/메이플/0501 7시 참여.png">
            </div>

            <div id="content2">
asdasdasdsd
            </div>
        </div>
            <!-- 풋 -->
            <div id="foot">foot</div>
        </div>
    </body>

</html>