<!DOCTYPE html>

<html>
    <head lang="ko">
        <meta charset="UTF-8">
        <title>My Site0</title>
        
        <link rel="stylesheet" href="../../assets/css/common.css">
        <link rel="stylesheet" href="../../assets/css/main.css">

    </head>

    <body>
        <!-- 헤더영역 -->
        <div id="wrap">
            <div id="header" class="clearfix"> <!-- 클리어픽스로 장판 위치 잡아줌 -->
                <!-- 사이트 로고 -->
                <h1><a href="../main/main.html">MY site</a></h1>

                <!-- 로그인 링크 
                <a href="">로그인</a>

                     회원가입 링크 
                <a href="">회원가입</a> 이렇게 사용 안하고 li 사용이 더 잘쓰는법 --> 

                <ul class="clearfix">
                    <li><a href="../../user/login.html">로그인</a></li>
                    <li><a href="../../user/ex02_signup.html">회원가입</a></li>
                </ul>                
            </div>
            <!-- //헤더영역 -->

            <!-- 네비게이션(상단 메뉴, GNB) -->
            <div id="nav">
                <ul class="clearfix">
                    <li><a href="../../self_introduction/job.html">입사지원서</a></li>
                    <li><a href="../../board/list.html">게시판</a></li>
                    <li>갤러리</li>
                    <li class="last">방명록</li>
                </ul>
            </div>
            <!-- //네비게이션(상단 메뉴, GNB) -->

            <!-- 컨텐츠 영역 -->
            <div id="full-content" class="clearfix">
                <img id="profile-img" src="../../assets/img/jung.jpg"> <!-- 속성에 width="300px" 잘 안씀 -->
                
                <div id="greetings">
                    <p id="greet">
                        안녕하세요!!<br>
                        최원호의 Mysite에 오신 것을 환영합니다.
                    </p>

                    <p id="description">
                        이 사이트는 웹 프로그래밍 실습과제 예제 사이트입니다. <br>
                        메뉴는 사이트 소개, 방명록, 게시판이 있구요. <br>
                        자바 수업 + 데이터베이스 수업 + 웹프로그래밍 수업 <br>
                        배운 거 있는거 없는 거 다 합쳐서 만들어 놓은 사이트 입니다. <br>
                        <br>
                        (자유롭게 꾸며보세요!!)
                        <br><br>
                        <a href="">[방명록에 글남기기]</a>
                    </p>
                </div>            
            </div>
            <!-- //컨텐츠 영역 -->

            <!-- 푸터 -->
            <div id="footer">
                <p>Copylight ©2021 최원호. All right reserved</p>
            </div>
            <!-- //푸터 -->
        <div>
        <!-- //wrap -->
    </body>

</html>